<div id="<%= dom_id knowledge_area %>">
  <p>
    <strong>Name:</strong>
    <%= knowledge_area.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= knowledge_area.description %>
  </p>

</div>
