<h1>Editing knowledge area</h1>

<%= render "form", knowledge_area: @knowledge_area %>

<br>

<div>
  <%= link_to "Show this knowledge area", @knowledge_area %> |
  <%= link_to "Back to knowledge areas", knowledge_areas_path %>
</div>
